body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.employee-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-item {
  margin-bottom: 10px;
}

.form-item label {
  display: inline-block;
  width: 120px;
  text-align: left;
  margin-bottom: 5px;
}
.form-item p {
  display: inline-block;
  width: 120px;
  text-align: left;
  margin-bottom: 5px;
}

textarea {
  resize: vertical;
  vertical-align: middle;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 4px 16px;
  background: green;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}
